body {
  font-family: 'Roboto', sans-serif;
  /* padding-top: 65px; */
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 1230px;
  margin: 0 auto;

  padding: 35px;
  /* padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px; */
  background-color: rgb(126, 126, 126);
}

/* Header */

.page-header__container {
  background-color: transparent;
  padding: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.page-header__nav {
  position: relative;
  min-height: 60px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
  transition: all 0.3s ease 0s;
}

.logo__web--black {
  color: #000;
}

.logo:hover {
  font-size: 30px;
}

.menu {
  font-size: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  color: #2196f3;
}

.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-size: 16px;
  color: #000;
  display: inline-block;
  padding: 5px 0px;
  transition: all 0.3s ease 0s;
  position: relative;
}

.menu__link:hover {
  color: #2196f3;
}

.menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease 0s;
}

.menu__link:hover::after {
  width: 100%;
}

.sub-menu {
  background-color: #333;
  padding: 15px;
  position: absolute;
  min-width: 200px;
  top: 150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  border: 2px solid #000;
  transition: all 0.5s ease 0s;
}

.sub-menu__item {
  color: #fff;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.sub-menu__link {
  font-size: 16px;
  position: relative;
}

.sub-menu__link:hover {
  color: #2196f3;
}

.sub-menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #2196f3;
  transition: width 0.3s ease 0s;
}

.sub-menu__link:hover::after {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
}

.main-title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 38px;
  color: tomato;
  animation: title 3s ease;
}

@keyframes title {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* section */

.section {
  /* padding-top: 60px; */
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 25px;
  opacity: 0;
  animation: title 3s ease 0.5s forwards;
}

/* container-properties */

.container-properties {
  /* text-align: center; */
}

.container-properties__title {
  margin-bottom: 15px;
}

.container-properties__title:not(:first-child) {
  margin-top: 50px;
}

/*=========== display: flex | inline-flex ============*/

.display {
  border: 5px solid tomato;
  background-color: #794f45;

  display: flex;
  /* display: inline-flex; */
}

.display__item {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  background-color: #7a956b;
  padding: 10px;
  text-align: center;
  border: 5px solid #77608d;
}

/*======= flex-wrap: nowrap | wrap | wrap-reverse =======*/

.flex-wrap {
  border: 5px solid tomato;
  background-color: #794f45;
  display: flex;

  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;
}

.flex-wrap__item {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  background-color: #7a956b;
  padding: 10px;
  text-align: center;
  border: 5px solid #77608d;
}

/* footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
